@import 'partials/setup';
@import 'partials/variables';
@import 'partials/global';

.welcome {
	height: 100vh;
	background: url(../../assets/on-load-bg.jpg);
	background-size: cover;
	background-position-y: -30px;
	position: relative;
}
.welcome-content {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-transform: uppercase;
}

.welcome-content h1 {
	background: $marvel-red;
	padding: 40px 20px;
	margin-bottom: 10px;
	text-transform: uppercase; 
	-moz-box-shadow: inset 0 0 30px #000;
	-webkit-box-shadow: inset 0 0 30px #000;
	box-shadow: inset 0 0 30px #000;
	text-shadow: 3px 0px 4px #000;
	font-size: 50px;
	span {
		display: block;
	}
}

.welcome-content_instructions {
	background: rgba(0,0,0,0.8);
	padding: 40px; 
	ul li span {
		display: block;
	}
	input {
		width: 60%;
		color: white;
		padding: 10px 20px 10px 10px;
		text-transform: uppercase;
		&::placeholder {
        	color: white;
        	text-transform: uppercase;
    	}
	}
	button {
		padding: 10px 15px;
	}
}

.game-play {
	position: relative;
	.guess-count {
		text-align: center;
		span {
			font-weight: bold;
		}
	}
}
.comic-backgroud-images {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.comic-background {
	width: 33.33%;
	height: 50vh;
	background-size: cover;
}
.game-play_header {
	margin: 10px;
	padding: 20px;
	color: white;
	background: $marvel-red;
	text-shadow: 3px 0px 4px #000;
	h1 {
	    margin-bottom: 10px;
	    span {
	        display: block;
	    }
	}
	h2 {
		margin-bottom: 5px;	
	}
	p {
		margin: 0;
		text-transform: uppercase;
		font-weight: bold;
	}
}
.game-play-contnet {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0,0,0,0.8)	;
	padding: 30px;
}
.chosen-characters {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	color: white;
}

.character-card, .success {
	width: calc(33.33% - 20px);
	margin: 10px;
	min-height: 50vh;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.guessed-character {
	text-align: center;
	p {
		margin: 0;
	}
	img {
		max-width: 100%;
		padding: 20px;
	}
}

.guess-container {
	display: flex;
	flex-direction: row;
	padding-top: 20px;
}

.guess {
	max-width: 75%;
	padding-bottom: 10px;
}

.guess-submit {
	max-width: 25%;
}

.winner, .loser {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	padding: 40px 20px;
	color: white;
	text-transform: uppercase;
	a{
		color: white;
		text-decoration: none;
	}
}

.winner {
	background: $marvel-red;
	width: 95%;
}

.leader-board {
	padding: 20px 0;
	h3 {
		margin: 0;
		padding-bottom: 10px;
	}
}

.winner-data {
	display: flex;
	justify-content: space-around;
}

.loser {
	background: $marvel-blue;
	width: 95%;
	a {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}

.loser-missed {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
	h3 {
		width: 100%;
		text-align: center
	}
	div {
		max-width: calc(33.33% - 10px);
		border: 5px solid #ddddd9;
		margin: 5px;
		img {
			max-width: 100%;
			padding: 15px;
		}
		p {
			text-align: center;
		}
	}
}

