.wrapper {
	max-width: 90%;
	margin: 0 auto;
}

.SRT {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

h1, h2 {
	text-align: center;
	margin: 0;
}

.hide-on-load, .hide-until-won, .hide-until-lost {
    display: none;
}

.welcome-content h1, .welcome-content_instructions, .winner, .loser, .character-card, .game-play_header, .success {
    border: 5px solid #ddddd9;
} 

input {
    background: none;
    border: none;
    border-bottom: 2px solid $marvel-red;
    color: white;
    &::placeholder {
        text-transform: uppercase;
        color: white;
    }
}
button {
    border: none;
    background: none;
    color: $marvel-red;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
        color: white;
        text-shadow: 3px 0px 4px $marvel-red;
    }
}