article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  max-width: 95%;
  margin: 0 auto; }

.SRT {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
          clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden; }

h1, h2 {
  text-align: center;
  margin: 0; }

.hide-on-load, .hide-until-won, .hide-until-lost {
  display: none; }

.welcome-content h1, .welcome-content_instructions, .winner, .loser, .character-card, .game-play_header, .success {
  border: 5px solid #ddddd9; }

input {
  background: none;
  border: none;
  border-bottom: 2px solid #f0141e;
  color: white; }
  input::-webkit-input-placeholder {
    text-transform: uppercase;
    color: white; }
  input:-ms-input-placeholder {
    text-transform: uppercase;
    color: white; }
  input::placeholder {
    text-transform: uppercase;
    color: white; }

button {
  border: none;
  background: none;
  color: #f0141e;
  text-transform: uppercase;
  font-weight: bold; }
  button:hover {
    color: white;
    text-shadow: 3px 0px 4px #f0141e; }

.welcome {
  height: 100vh;
  background: url(../../assets/on-load-bg.jpg);
  background-size: 120%;
  position: relative; }

.welcome-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase; }

.welcome-content h1 {
  background: #f0141e;
  padding: 40px 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0 0 30px #000;
  box-shadow: inset 0 0 30px #000;
  text-shadow: 3px 0px 4px #000;
  font-size: 3.1rem; }
  .welcome-content h1 span {
    display: block; }

.welcome-content_instructions {
  background: rgba(0, 0, 0, 0.8);
  padding: 40px; }
  .welcome-content_instructions ul li span {
    display: block; }
  .welcome-content_instructions input {
    width: 60%;
    color: white;
    padding: 10px 20px 10px 10px;
    text-transform: uppercase; }
    .welcome-content_instructions input::-webkit-input-placeholder {
      color: white;
      text-transform: uppercase; }
    .welcome-content_instructions input:-ms-input-placeholder {
      color: white;
      text-transform: uppercase; }
    .welcome-content_instructions input::placeholder {
      color: white;
      text-transform: uppercase; }
  .welcome-content_instructions button {
    padding: 10px 15px; }

.game-play {
  position: relative; }
  .game-play .guess-count {
    text-align: center; }
    .game-play .guess-count span {
      font-weight: bold; }

.comic-backgroud-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative; }

.comic-background {
  width: 33.33%;
  height: 50vh;
  background-size: cover; }

.game-play_header {
  margin: 0 5px 20px 5px;
  padding: 20px;
  color: white;
  background: #f0141e;
  text-shadow: 3px 0px 4px #000;
  -webkit-box-shadow: inset 0 0 30px #000;
  box-shadow: inset 0 0 30px #000; }
  .game-play_header h1 {
    margin-bottom: 10px; }
    .game-play_header h1 span {
      display: block; }
  .game-play_header h2 {
    margin-bottom: 5px; }
  .game-play_header p {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold; }

.game-play-contnet {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  padding: 30px; }

.chosen-characters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white; }

.character-card, .success {
  width: calc(33.33% - 10px);
  margin-right: 10px;
  min-height: 50vh;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }

.character-card:nth-of-type(3), .success:nth-of-type(3) {
  margin-right: 0; }

.guessed-character {
  text-align: center; }
  .guessed-character p {
    margin: 0; }
  .guessed-character img {
    max-width: 100%;
    padding: 20px; }

.guess-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 20px; }

.guess {
  max-width: 100%;
  padding-bottom: 10px; }

.guess-submit {
  padding: 5px;
  margin: 10px;
  position: absolute;
  right: 0;
  bottom: 0; }

.winner, .loser {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  padding: 40px 20px;
  color: white;
  text-transform: uppercase; }
  .winner a, .loser a {
    color: white;
    text-decoration: none; }

.winner {
  background: #f0141e;
  width: 95%; }

.leader-board {
  padding: 20px 0; }
  .leader-board h3 {
    margin: 0;
    padding-bottom: 10px; }

.winner-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.loser {
  background: #326897;
  width: 95%; }
  .loser a {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.loser-missed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px; }
  .loser-missed h3 {
    width: 100%;
    text-align: center; }
  .loser-missed div {
    max-width: calc(33.33% - 10px);
    border: 5px solid #ddddd9;
    margin: 5px; }
    .loser-missed div img {
      max-width: 100%;
      padding: 15px; }
    .loser-missed div p {
      text-align: center; }

@media (max-width: 980px) {
  .welcome {
    background-size: 135%;
    background-position-x: 80%; }
  .welcome-content h1 {
    font-size: 2.9rem; } }

@media (max-width: 880px) {
  .game-play_header {
    background: purple; } }

@media (max-width: 768px) {
  .welcome {
    background-size: cover; }
  .welcome-content h1 {
    font-size: 2.5rem;
    padding: 30px 15px; }
  .welcome-content_instructions {
    padding: 30px;
    font-size: 0.95rem; } }

@media (max-width: 480px) {
  .welcome {
    background-size: cover; }
  .welcome-content h1 {
    font-size: 1.8rem;
    padding: 30px 15px; }
  .welcome-content_instructions {
    padding: 30px;
    font-size: 0.8rem; } }
